<launch>
  <!-- Launch arguments -->
  <arg name="model_name" default="brov_1"/>
  <arg name="r1name" default="brov_1"/>
  <arg name="joy_id" default="0"/>

  <!-- Gazebo model spawner -->
  <arg name="sdf_file" value="$(find single_brov_description)/sdf/$(arg model_name).sdf" />
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="screen"
	    args="-file $(arg sdf_file) -sdf -model $(arg model_name)" />

    <!-- Control -->
    <include file="$(find uuv_thruster_manager)/launch/thruster_manager.launch">
      <arg name="uuv_name" value="$(arg r1name)" />
      <arg name="model_name" value="$(arg r1name)" />
    </include>
    <group ns="$(arg r1name)">
    <!--arg name="uuv_name" default="$(arg r1name)"/-->
      <rosparam file="$(find uuv_control_cascaded_pid)/config/$(arg r1name)/inertial.yaml" command="load"/>
      <rosparam file="$(find uuv_control_cascaded_pid)/config/$(arg r1name)/vel_pid_control.yaml" command="load"/>

      <node pkg="uuv_control_cascaded_pid" type="AccelerationControl.py" name="acceleration_control" output="screen">
        <param name="tf_prefix" type="string" value="$(arg r1name)/" />
      </node>

      <node pkg="uuv_control_cascaded_pid" type="VelocityControl.py" name="velocity_control" output="screen">
        <remap from="odom" to="/$(arg r1name)/pose_gt"/>
        <remap from="cmd_accel" to="/$(arg r1name)/cmd_accel"/>
      </node>
    </group>
    <include file="$(find uuv_teleop)/launch/uuv_teleop.launch">
      <arg name="uuv_name" value="$(arg r1name)"/>
      <arg name="joy_id" value="$(arg joy_id)"/>
      <arg name="output_topic" value="cmd_vel"/>
      <arg name="message_type" value="twist"/>
    </include>
</launch>
